<section fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
  <mat-card>
    <mat-progress-bar
      *ngIf="isLoading"
      mode="query"
      class="top"
    ></mat-progress-bar>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Your email"
          formControlName="email"
        />
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Your password"
          formControlName="password"
        />
        <mat-hint>Please enter your password.</mat-hint>
        <mat-error>Missing password.</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Submit
        <!-- <mat-icon *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon> -->
      </button>
    </form>
  </mat-card>
</section>
