<section fxLayout fxLayoutAlign="start center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)" fxFlex="100%">
    <mat-card
      class="new-training"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="25px"
    >
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Time to start a workout!</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center center">
        <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async)">
          <mat-label>Choose Exercise</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option
              *ngFor="let exercise of exercises$ | async"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions
        *ngIf="!(isLoading$ | async)"
        fxLayoutAlign="center center"
      >
        <button
          *ngIf="exercises$ | async"
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="f.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!(exercises$ | async)"
          mat-flat-button
          type="submit"
          color="primary"
          (click)="fetchExersises()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
