<section fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
  <mat-card>
    <mat-progress-bar
      *ngIf="isLoading$ | async"
      mode="query"
      class="top"
    ></mat-progress-bar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
    >
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="john.doe@example.com"
          ngModel
          name="email"
          email
          required
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.hasError('required')"
          >Field not be empty.</mat-error
        >
        <mat-error *ngIf="!emailInput.hasError('required')"
          >E-mail is invalid.</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          ngModel
          name="password"
          minlength="6"
          required
          #pwInput="ngModel"
        />
        <mat-error *ngIf="(pwInput.value?.length || 0) < 6"
          >Should be at least 6 characters long.</mat-error
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Your birthday</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [max]="maxDate"
          ngModel
          name="birthdate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>
      <mat-checkbox ngModel name="agree" color="primary" required
        ><small>Agree to terms and Conditions.</small></mat-checkbox
      >
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        Submit
      </button>
    </form>
  </mat-card>
</section>
